*,
html,
body {
  font-family: "Estedad";
  box-sizing: border-box;
  direction: rtl;
}
:root {
  --primary: #a62626;
}
body {
  background-color: #f5f5f5;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--primary) !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.h-0{
  height: 0px;
  overflow: hidden;
}
.pointer{
  cursor: pointer;
}
.h-80{
  height: 80px;
}
.rotate-icon{
  transform: rotate(180deg);
}
.transition{
  transition: all 0.3s ease-in-out;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.color-primary {
  color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.btn-primary {
  background-color: var(--primary);
  color: #ffffff;
}
.btn:active{
  border-color: transparent !important;
}
.post{
  overflow: hidden;
}
.post:hover{
  border-color: var(--primary) !important;
}
.post:hover .card-title{
  color: var(--primary);
}
.post .buttons{
  transform: translateX(-150%);
  transition: all 0.2s ease-in-out;
}
.post:hover .buttons{
  transform: translateX(0%);
}
.page-link:hover  , .page-link.active{
  border-color: var(--primary);
  background-color: transparent;
  box-shadow: none;
  color: var(--primary) !important;
}
.page-link:focus{
  box-shadow: none;
}
.page-link.disabled, .disabled > .page-link{
  background-color : #dee2e6;
}
.page-item{
  cursor: pointer;
}
.page-item.disabled{
  cursor: auto;
}
.page-item .page-link.active{
  cursor: auto;
}

.post-title{
  line-height: 1.5;
}
.details-row .details .title , .details-column .details .title{
  color: #999999;
}

.loading-skeleton h1,
.loading-skeleton h2,
.loading-skeleton h3,
.loading-skeleton h4,
.loading-skeleton h5,
.loading-skeleton h6,
.loading-skeleton p,
.loading-skeleton span,
.loading-skeleton small,
.loading-skeleton li,
.loading-skeleton button,
.loading-skeleton label,
.loading-skeleton input,
.loading-skeleton pre,
.loading-skeleton textarea {
  color: #eee !important;
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee !important;
  border-color: #eee !important;
}

@keyframes loading-skeleton {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;
}
.loading-skeleton img {
  filter: grayscale(100) contrast(0%) brightness(1.8);
}
.loading-style{
  width: 100px;
  height: 20px;
}
.category.active{
  color: var(--primary) !important;
}
.filterUsed{
  border-color: var(--primary) !important;
}
.deleteFilter{
  cursor: pointer;
}
.btn-remove-search{
  display: none;
}
form.search:hover .btn-remove-search{
  display: block;
}
.loading-title-post{
  height: 10%;
}
.form-check-input:checked{
  background-color: var(--primary);
    border-color: var(--primary);
}
.form-check-input:focus{
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: none;
}